<div id='map'></div>
<canvas id='canvas'></canvas>

<div class='labels-container'>
    {{{citiesHtml}}}
    {{{labelsHtml}}}
</div>

<div class='modes-panel'>{{{modesHtml}}}</div>
<div class='modes-panel layers-panel'>{{{layersHtml}}}</div>
<div class='modes-panel brushes-panel'>{{{brushesHtml}}}</div>

<div id='add-city-popup' class='popup-container'>
    <div class='popup-window'>
        <input type='text' placeholder='Search city' />
        <div class='popup-items-list'></div>
        <button
            class='close-button'
            onclick='document.getElementById("add-city-popup").classList.remove("visible")'>
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
