<div class='cities-container'>
    <div class='menu-title'>
        <i class='fa fa-bars menu-icon'></i>
        <span>Select city</span>
        <button
            class='add-button'
            onclick='document.getElementById("add-city-popup").classList.add("visible")'>
            <i class='fa fa-plus'></i>
        </button>
    </div>
    {{{citiesHtml}}}
</div>
