<div class='label-item' title='{{description}}' data-label='{{_id}}'>
    <div class='label-color' style='background: {{color}}'></div>
    <span class='label-name'>{{name}}</span>
    <span class='label-icon'>{{button}}</span>
</div>
