#canvas {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100% - 40px);
    opacity: .7;
    transition: opacity .1s ease-out;
    z-index: 1;
    cursor: crosshair;
}

#canvas.invisible {
    pointer-events: none;
    opacity: .4;
}

#canvas.blocked {
    cursor: wait;
}
