.cities-container {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 4;
    height: 40px;
    width: 40px;
    background: #262626;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

.cities-container:hover {
    width: 200px;
    box-shadow: 0 0 10px #000;
    height: auto;
}

.cities-container:hover .menu-title {
    background: #333;
}

.menu-title {
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    padding-right: 10px;
}

.menu-title * {
    flex-shrink: 0;
}

.menu-title .add-button {
    margin-left: auto;
}

.menu-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.city-item {
    position: relative;
    padding: 5px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: width .1s ease-out;
    cursor: pointer;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.city-item:hover, .city-item.active {
    background: rgba(0, 0, 0, .3)
}

.city-name {
    padding: 0 10px;
    flex-grow: 1;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
