.labels-container {
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 40px;
    background: #262626;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
}

.label-item {
    position: relative;
    padding: 5px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #262626;
    white-space: nowrap;
    display: flex;
    align-items: center;
    transition: width .1s ease-out;
    cursor: pointer;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.label-item:hover {
    width: 200px;
    box-shadow: 0 0 10px #000;
}

.label-color {
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    flex-shrink: 0;
}

.label-icon {
    line-height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.active .label-color {
    border: 2px solid #fff;
}

.label-name {
    padding: 0 10px;
    flex-grow: 1;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
    font-size: 13px;
}
