html {
  box-sizing: border-box;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body:before {
    content: 'Loading ...';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
