.modes-panel {
    position: fixed;
    z-index: 2;
    width: 60px;
    height: 30px;
    display: flex;
    left: calc(50% - 30px);
    top: 15px;
    background: #262626;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
}

.mode-button, .add-button, .close-button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.mode-button:hover {
    background: rgba(0, 0, 0, .4);
}

.mode-button.active, .mode-button:active {
    background: rgba(0, 0, 0, .7);
    text-shadow: 0 0 1px #fff;
}

.add-button {
    background: #03a9f4;
    border-radius: 3px;
}

.close-button {
    background: #ffc107;
    border-radius: 3px;
}

.layers-panel {
    left: auto;
    right: 15px;
}

.brushes-panel {
    left: 55px;
    width: 90px;
}
