.popup-container {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s ease-out;
}

.popup-container.visible {
    visibility: visible;
    opacity: 1;
}

.popup-window {
    padding: 10px;
    background: #262626;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
}

.popup-window input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
}

#add-city-popup .popup-window {
    max-width: 400px;
    width: 100%;
}

.popup-items-list {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    padding: 10px 0;
}

.popup-list-item {
    padding: 10px;
}

.popup-list-item .fa {
    margin-right: 10px;
}
