body {
    font-family: 'Times New Roman';
    font-size: 14px;
    line-height: 1.7em;
}

pre {
    font-size: 10px;
    line-height: 14px;
    padding: 5px 10px;
}

br {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    max-height: 666px;
}

p {
    text-indent: 1.5em;
    margin: 0;
    text-align: justify;
}

h1, h2 {
    text-align: left;
    margin-left: 50px;
    font-size: 14px;
}

h1 {
    margin-left: 0;
    font-weight: normal;
    page-break-before: always;
    text-align: center;
}

h1:first-child {
    page-break-before: avoid;
}

td, th {
    padding: 5px;
    border: 1px solid #000;
}

.title-header, .title-name, .title-details, .title-info {
    text-indent: 0;
}

h1 br, .title-header br, .title-name br, .title-info br, .title-details br {
    display: inline;
}

.title-header {
    text-align: center;
}

.title-name {
    margin-bottom: 50px;
    margin-top: 142px;
    text-align: center;
    font-weight: bold;
}

.title-info {
    margin-top: 50px;
    margin-left: 50%;
    position: relative;
}

.title-details {
    margin-top: 40px;
    margin-left: 27%;
    position: relative;
}

.title-details:after, .title-info:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 26px;
    width: 200px;
    border-bottom: 1px solid #000;
}

.title-info:after {
    border-top: 1px solid #000;
    top: calc(100% + 26px);
}

.base {
    text-align: center;
    margin-left: 0;
}

.img-label {
    display: block;
    text-align: center;
}

.contents-text p {
    margin: 0;
}
